body{ 
  background-color: #ffffff;
}
.navbar-container{ 
  display: flex; 
  justify-content: center; 
}
.navbar-container ul{
  display: flex;  
  padding: 0;
}  
.navbar-container ul li{ 
  list-style-type: none;
  margin: 25px; 
}
.navbar-container ul li a{ 
  text-decoration: none;  
  color: #000000;  
  font-size: 18px; 
  
}












































